## project build directory
modules/
out/

## compiled source 
*.mod
*.o

## system files 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

## IDE files
.cproject
.project
.settings